<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Soen345">
        <activity
            android:name=".MainActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".logic.LoginActivity" android:exported="false" />
        <activity android:name=".logic.RegisterActivity" android:exported="false" />
        <activity android:name=".logic.DashboardActivity" />
        <activity android:name=".logic.RegisteredEventsActivity" />
        <activity android:name=".logic.ProfileActivity" />
        <activity android:name=".logic.SearchActivity" />
        <activity android:name=".logic.AllEventsActivity" />
        <activity android:name=".logic.EventDetailsActivity" />
        <activity android:name=".logic.ReservedEventDetailsActivity" />
        <activity android:name=".logic.CancelReservationActivity" />
        <activity android:name=".logic.ReserveEventActivity" />
        <activity android:name=".logic.EditProfileActivity" />
        <activity android:name=".logic.AdminAddEventActivity" />
        <activity android:name=".logic.AdminEditEventActivity" />
        <activity android:name=".logic.AdminManageEventsActivity" />
    </application>

</manifest>